/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
activator*
/src/test/resources/bosch/*
/src/test/resources/out/
/src/test/resources/config/
/src/test/resources/parquet/
/src/test/resources/zeisel/*.txt
/.idea/
.sbtopts
derby.log