/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
activator*
/src/test/resources/bosch/*
/src/test/resources/out/*
/src/test/resources/dream5/*
/src/test/resources/config/profile.props
/src/test/resources/parquet/
/.idea/
derby.log
/docs/_build/
